<div fxLayout="row wrap" style="width:100%;background-color:#D7D4E0;height:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="width:100%;background-color:#D7D4E0;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-toolbar color="primary" style="width:100%; height:60px;background-color:#6F3FAD;">
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style="flex:right">
            PRODUCTS </div>
        </div>
        <div fxLayout="column wrap" style="float:right;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon style="float:right;cursor:pointer;" routerLink="/addproduct">library_add</mat-icon>
        </div>
      </div>
    </mat-toolbar>
    <div fxLayout="row wrap" style="background-color:#D7D4E0;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column" style="width:60%;margin-left:20%;">
        <table mat-table [dataSource]="resultdata" class="table-width-fix">
          <tr mat-header-row *matHeaderRowDef="[&apos;productName&apos;,&apos;productPrice&apos;]"></tr>
          <tr mat-row (click)="dataClick(row)" *matRowDef="let row; columns: [&apos;productName&apos;,&apos;productPrice&apos;];"></tr>

          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef>Product Name</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.productName}}</td>
          </ng-container>

          <ng-container matColumnDef="productPrice">
            <th mat-header-cell *matHeaderCellDef>Product Price</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.productPrice}}</td>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</div>